<?xml version="1.0"?>
<config>
	<modules>
		<Attain_Brands>
			<version>0.1.0</version>
		</Attain_Brands>
	</modules>
	<frontend>
		<routers>
			<brands>
				<use>standard</use>
				<args>
					<module>Attain_Brands</module>
					<frontName>brands</frontName>
				</args>
			</brands>
		</routers>
		<layout>
			<updates>
				<brands>
					<file>brands.xml</file>
				</brands>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<brands>
				<use>admin</use>
				<args>
					<module>Attain_Brands</module>
					<frontName>brands</frontName>
				</args>
			</brands>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<brands module="brands">
				<title>Brands</title>
				<sort_order>71</sort_order>				 
				<children>
					<items module="brands">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>brands/adminhtml_brands</action>
					</items>
				</children>
			</brands>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<brands module="brands">
							<title>Brands Module</title>
							<sort_order>10</sort_order>
							<children>
								<items module="brands">
									<title>Manage Items</title>
									<sort_order>0</sort_order>
								</items>
							</children>
						</brands>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<brands>
					<file>brands.xml</file>
				</brands>
			</updates>
		</layout>
	</adminhtml>	 
	<global>
		<models>
			<brands>
				<class>Attain_Brands_Model</class>
				<resourceModel>brands_resource</resourceModel>
			</brands>
			<brands_resource>
				<class>Attain_Brands_Model_Resource</class>
				<entities>
					<brands>
						<table>brands</table>
					</brands>
				</entities>
			</brands_resource>
		</models>
		<resources>
			<brands_setup>
				<setup>
					<module>Attain_Brands</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</brands_setup>
			<brands_write>
				<connection>
					<use>core_write</use>
				</connection>
			</brands_write>
			<brands_read>
				<connection>
					<use>core_read</use>
				</connection>
			</brands_read>
		</resources>
		<blocks>
			<brands>
				<class>Attain_Brands_Block</class>
			</brands>
		</blocks>
		<helpers>
			<brands>
				<class>Attain_Brands_Helper</class>
			</brands>
		</helpers>
	</global>
</config>